
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary">
        <ion-back-button></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center"> Personal Project </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Full Text Section -->
  <section class="full-text-section">
    <div class="full-text">

      <h1>Embark on an Epic Adventure: The Ultimate Gaming Experience</h1>

      <h2>
        Embark on an adrenaline-fueled journey through vibrant landscapes and treacherous obstacles in our exhilarating game. Dive into a world where speed is your ally and reflexes your greatest weapon.
        As the sun sets on a futuristic cityscape, you find yourself at the starting line of an epic race against time and formidable opponents. With each stride, you'll collect coins to purchase powerful upgrades and unlock new abilities, propelling you closer to victory.
        </h2>
    </div>
  </section>

  <!-- Grid List of Images -->
  <section>
    <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <img src="assets/imgs/3.png" alt="Image 1">
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
        <img src="assets/imgs/1.png" alt="Image 2">
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
        <img src="assets/imgs/2.png" alt="Image 3">
      </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  </section>

  <!-- Text Section Below Images -->
  <section class="text-below-images">
    <div class="text">

      <h1>Dive into the Action: Experience the Thrills of Our game</h1>

      <h2>
        Immerse yourself in the heart-pounding action of our game as you journey through a world of exhilarating challenges and jaw-dropping visuals.
        With stunning graphics and dynamic gameplay, every moment is a pulse-pounding adventure waiting to unfold.
      </h2>

    </div>
  </section>

  <!-- Grid List of Videos -->
  <section>
    <ion-grid>
    <ion-row>
      <ion-col>
        <!-- Video 1 -->
        <video controls autoplay>
          <source src="assets/vids/3.mov" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </ion-col>
      <ion-col>
        <!-- Video 2 -->
        <video controls autoplay>
          <source src="assets/vids/2.mov" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </ion-col>
      <ion-col>
        <!-- Video 3 -->
        <video controls autoplay>
          <source src="assets/vids/1.mov" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </ion-col>
    </ion-row>
  </ion-grid>
  </section>
</ion-content>
